.recent-order{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(215, 210, 210) !important;
}

.recent-order > *{
    margin: 5px;
    text-align: start;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    .recent-order{
        width: 600px;
    }
}