.me-auto > *{
    padding: 10px;
    margin: 10px;
}

.me-auto a:hover, .me-auto a:focus{
    color: orange;
}

.me-auto .bi-cart-check{
    font-size: 25px;
}

.offcanvas{
    background-color: rgb(240, 239, 238);
}

.offcanvas-header{
    margin: auto;
}

.bi-x-square{
    font-size: 40px;
}