.sales-overview{
    width: 450px;
    position: relative;
}

.sales-summaries{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px
}

.sales-summaries > *{
    width: 200px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background: rgb(218, 229, 238);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 10px;
}

.summary .icon i{
    font-size: 25px;
}

@media screen and (max-width: 600px) {
    .sales-summaries > *{
        width: 300px;
    }
}
