.on-offer{
    margin: 50px 0 70px;
}

.on-offer-contents-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.on-offer-details-container p{
    font-size: 30px;
    font-weight: 400;
}

.current-price{
    color: green;
}

.previous-price{
    color: red;
    text-decoration: line-through;
    text-decoration-line: 3px;
}

.on-offer-image-container{
    height: 300px;
    margin: 15px;
}

.on-offer-image-container img{
    width: 100%;
    height: 100%;
}

.on-offer-item{
    display: block;
}

.on-offer-image-container{
    width: 500px;

}

@media screen and (max-width: 600px) {
    .on-offer-image-container{
        width: 350px;
        height: 200px;
    }
}