.on-offer{
    max-width: 1300px;
    margin: auto;
    background-color: rgb(211, 209, 209);
    border-radius: 10px;
    font-size: 20px;
    padding: 50px 0;
}

.on-offer h4{
    font-size: 30px;
}

.on-offer .time-container > *{
    margin: 15px;
    border: solid;
    border-radius: 10px;
    border-width: 2px;
    width: 100px;

}

.on-offer h4{
    font-weight: bold;
}