.testimony{
    width: 330px;
    margin: 15px;
    padding: 10px;
    background-color: whitesmoke;
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: whitesmoke;
    text-align: justify;
}

.testimony .image-container{
    width: 60px;
    height: 60px;
    margin: 10px;
}

.testimony img{
    border-radius: 50%;
}

.testimony .flex-row-center > b{
    margin: auto 5px;
}
