.mission-vision .details{
    max-width: 1300px;
    margin: auto;
    background-color: rgb(214, 214, 214);
    padding: 20px 7px;
    border-radius: 10px;
    text-align: justify;
}

.mission-vision .details > *{
    max-width: 350px;
    margin: 15px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .mission-vision .image-container{
        width: 380px;
        height: 430px;
    }
}