.mission-vision .image-container{
    width: 500px;
    height: 600px;
    margin: 15px;
    
}

.mission-vision img{
    border-radius: 10px;
}

.mission-vision .details{
    max-width: 500px;
    margin: auto 15px;
    text-align: justify;
}

@media screen and (max-width: 600px) {
    .mission-vision .image-container{
        width: 380px;
        height: 430px;
    }
}