.orders-and-customers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.orders-and-customers > *{
    background-color: rgb(236, 244, 249);
    padding: 15px 0;
}

.up-rating{
    color: green;
}

.down-rating{
    color: red;
}