.products-section{
    max-width: 1200px;
    margin: 10px;
}

.products-section .page-btns button {
    margin: 10px;
    border: none;
    border-radius: 5px;
    width: 50px;
    background-color: rgb(205, 205, 205);
    color: black;
    padding: 5px;
}

.products-section .page-btns button:hover{
    background-color: black;
    color: white;
}