.selected-product-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.selected-product-display .description{
    width: 100%;
    text-align: start;
}

.selected-product-display .related-products{
    width: 100%;
    margin: 20px;
    text-align: start;
}

.selected-product-display .related-products .products-container{
    justify-content: flex-start;
}


.selected-display-image-container{
    width: 400px;
    height: 500px;
    margin: auto;
}

.selected-display-image-container img{
    width: 100%;
    height: 100%;
}

.selected-display-details-container{
    width: 45%;
    margin: auto;
    margin-top: 15px;
}

.selected-display-details-container h4{
    font-weight: 400;
}

.selected-display-details-container > * {
    margin: 30px;
    border-bottom: solid;
    border-width: 1px;
}

.in-stock p{
    color: green;
}

.selected-display p{
    font: 18px;
}

.quantity button{
    font-size: 30px;
    margin: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: white;
    padding: 0;
}

.quantity button:hover{
    background-color: rgb(56, 55, 53);
    color: aliceblue;
    border: none;
}

.quantity p{
    font-size: 25px;
}

.add-to-cart button{
    padding: 2% 3%;
    border: none;
    background-color: black;
    color: aliceblue;
}

.add-to-cart .bi{
    font-size: 20px;
}

.add-to-cart button:hover{
    background-color: green;
}

.back-btn button{ 
    background-color: rgb(146, 10, 10);
    width: 50%;
    font-size: 20px;
    color: aliceblue;
}

@media screen and (max-width: 600px) {
    .selected-display, .selected-display-details-container{
        width: 400px;
        height: fit-content;
        margin: auto;
    }

    .selected-display-image-container{
        width: 300px;
        height: 350px;
        margin: auto;
    }
}