.categories{
    width: 300px;
    text-align: start;
}

.categories .me-auto > *:hover{
    color: orange;
    cursor: pointer;
}

.categories .me-auto  h5:hover, .categories .me-auto h6:hover{
    color: black;
    cursor: not-allowed;
}

.categories .me-auto{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: solid;
    border-bottom-color: black;
    border-width: 1px;
}

.offcanvas-column > *{
    padding: 25px 0 50px;
}

.categories .offcanvas-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.offcanvas-column h4{
    padding: 2px;
}

.categories .me-auto h6{
    font-size: 20px;
    margin-top: 50px;
}

@media screen and (max-width: 600px) {
    .categories{
        display: none;
    }
}

