.home-product{
    width: 300px;
    height: 480px;
    margin: 15px;
    border-radius: 10px;
}

.home-product:hover{
    cursor: pointer;
    color: rgb(163, 16, 16);
    background-color: rgb(242, 237, 228);
}

.home-product-image-container{
    width: 300px;
    height: 350px;
    background-color: rgb(246, 242, 242);
}

.home-product-image-container img{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

@media screen and (max-width: 600px)  {
    .home-product{
        width: 400px;
        height: 500px;
    }

    .home-product-image-container{
        width: 400px;
        height: 400px;
    }
    
}