.home-product{
    max-width: 200px;
    max-height: 300px;
    margin: 20px;
    border-radius: 10px;
}

.home-product:hover{
    cursor: pointer;
    color: rgb(163, 16, 16);
    background-color: rgb(242, 237, 228);
}

.home-product-image-container{
    width: 200px;
    height: 200px;
    background-color: rgb(246, 242, 242);
    border-radius: 10px;
}

.home-product-image-container img{
    max-width: 100%;
    max-height: 100%;
    mix-blend-mode: multiply;
}