.dashboard{
    position: relative;
    width: 100%;
}

.dashboard-contents{
    position: absolute;
    width: 90%;
    height: 100%;
    left: 10%;

}

.dashboard-contents > *{
    margin-bottom: 5px;
}

.dashboard-contents > * > *{
    background-color: rgb(243, 243, 243);
}

.update-btn{
    background-color: green;
    color: aliceblue;
}

.delete-btn{
    color: red;
}

button{
    border: none;
}