.cart .main-content{
    padding: 50px 0;
}

.cart .main-content > *{
    margin: 15px;
}

.cart .cart-items{
    max-width: 800px;
}

.cart .cart-totals{
    width: 300px;
    text-align: justify;
    height: 100%;
    position: sticky;
    top: 200px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 20px;
}

.cart .cart-totals .flex-row-center{
    justify-content: space-between;
    padding: 20px 0;
}

.cart .cart-totals a{
    padding: 10px;
    background-color: black;
    color: white;
    display: block;
    margin: 20px 15px 5px;
}

.cart .cart-totals a:hover{
    background-color: orange;
}