.cart-table{
    width: fit-content;
    margin: auto;
}

.cart-table img{
    width: 60px;
    height: 70px;
}

.cart-table tr{
    background-color: rgb(236, 236, 236);
    width: fit-content;
    margin: 15px auto;
}

.flex-row-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cart-table .description-and-price, .cart-table .edit-item, .cart-table .cart-totals{
    width: 350px;
}

.cart-table td{
    padding: 20px;
    text-align: start;
}

.cart-table .description{
    width: 170px;
}

.cart-table .price{
    width: 50px;
}

.cart-table .cart-btn{
    margin: 0 7px ;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 5px 15px;
}

.cart-btn:hover{
    cursor: pointer;
}

.cart-table .delete-btn{
    width: 100px;
    color: red;
    background-color: white;
    border-radius: 5px;
    margin-top: 5px;
    padding: 2px;
}

.cart-table .delete-btn:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}

.cart-table .edit-quantity{
    width: 200px;
}


.cart-table .proceed-to-checkout-container{
    margin: 15px auto;
}

.proceed-to-checkout-container button{
    width: 300px;
    margin: auto;
    height: 50px;
    background-color: rgb(7, 96, 7);
    color: white;
}