button{
    border: none;
    padding: 1% 5%;
    border-radius: 2px;
}

.complete-btn{
    background-color: green;
    color: aliceblue;
}

.decline-btn{
    background-color: red;
    color: aliceblue;
}