.category{
    margin: 50px 70px;
}

.category-contents-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.category-contents-container > * {
    width: 550px;
    height: 350px;
}

.category-contents-container .image-container{
    width: 100%;
    height: 100%;
}

.category-contents-container img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 600px) {
    .category-contents-container > * {
        width: 350px;
        height: 200px;
    }
}