.products{
   max-width: 850px;
    
}

.products > .products-container{
    width: 100%;
}

.no-product-alert{
    color: green;
    padding-top: 25%;
}

@media screen and (max-width: 600px) {
    .products{
        left: 0;
        top: 90px;
        width: 100%;
    }
}
