.visitors-by-browser{
    width: 350px;
}

.visitors-by-browser-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.browser-details{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 10px;
}

.browser-details > *{
    width: fit-content;
    margin: 15px;
}

.browser-details .company{
    font-size: 15px;
}

.browser-details .browser-image-container{
    width: 30px;
    height: 30px;
    
}

.browser-image-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

