.top-countries{
    width: 350px;
    margin: 10px;
}

.country, .country div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.country{
    padding: 10px 0;
}

.country img{
    width: 50px;
    height: 20px;
    border-radius: 5px;
}

.country p{
    color: black;
}

.country div > *{
    padding:  0 10px ;
}