.top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.top > *{
    width: 700px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.stats-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.stats-container > *{
    padding: 1%;
    margin: 10px;
    border-radius: 10px;
}

.stats-container p{
    font-size: 20px;
    font-weight: bold;
    margin: auto;
}

.stats-container h4{
    font-weight: bold;
}

.stats-container .stats-large{
    width: 300px;
    padding: 2%;
    height: 150px;
}

.stats-container .stats-small{
    width: 200px;
}

.greeting{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(153, 153, 7);
    color: aliceblue;
    height: 300px;
}

.greeting > *{
    margin: 10px;
}

.greeting .message{
    width: 100%;
    margin-bottom: 50px;
}

.greeting .info{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.greeting .info > *{
    padding: 2%;
}

.greeting .info >div{
   border-right: solid;
   border-right-color: aliceblue;
}

.up{
    color: green;
}

.down{
    color: red;
}

.right .chart-container{
    width: 100%;
    margin: 10px;
    border-radius: 10px;
}

.stats-container > *, .right .chart-container{
    background-color: rgb(231, 231, 231);
}


.stats-small .bi{
    font-size: 25px;
}

.stats-small .bi-cash-stack{
    color: green;
}

.stats-small .bi-box, .stats-small .bi-truck{
    color: blue;
}

.stats-small .bi-cart, .stats-small .bi-arrow-left-right{
    color: orange;
}

.stats-small .bi-receipt-cutoff{
    color: red;
}

@media screen and (max-width: 600px) {
    .top > *, .chart-container{
        width: 500px;
    }

    .stats-container .stats-small{
        width: 300px;
    }
    
}