.contact .main-content{
    padding: 50px 10px;
    max-width: 700px;
    margin: auto;
    text-align: start;
}
.contact form{
    max-width: 600px;
    padding: 30px 0px;
    margin:30px 0;
}

.contact form > *{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.contact form input, .contact form textarea{
    border: none;
    border-bottom: solid;
    border-width: 2px;
    background-color: inherit;
}

.contact form > * > input{
    border-width: 2px;
    border-color: rgb(181, 181, 181);
    background-color: inherit;
}

.contact form input:focus, .contact form textarea:focus{
    outline: none;
}

.contact form button{
    width: fit-content;
    margin: auto;
    padding: 5px 15px;
}

.contact form button:hover{
    background-color: orange;
}

.contact .bi{
    font-size: 22px;
    margin: 0 5px;
}