.about .main-content > *{
    margin: 50px auto;
    padding: 10px 0;
}

.dark-about{
    background-color: rgb(220, 219, 219);
    max-width: 1300px;
    margin: auto;
    border-radius: 10px;
}


@media screen and (max-width: 600px) {
    .mission-vision .image-container{
        width: 350px;
        height: 450px;
    }
}