.about .main-content > *{
    margin-bottom: 30px;
    padding: 20px 0;
}




@media screen and (max-width: 600px) {
    .mission-vision .image-container{
        width: 350px;
        height: 450px;
    }
}