.product-section  .details-section{
    max-width: 800px;
    text-align: justify;
}

.product-section > *{
    margin: 10px;
}

.product-section img{
    border-radius: 10px;
}

.product-section  .image-container{
    width: 400px;
    height: 350px;
}

.product-section .image-container, .product-section .image-container img{
    background-color: rgb(215, 214, 214);
    mix-blend-mode: multiply;
}

.product-section .price{
    font-size: 25px;
}

.product-section .description{
    padding: 30px 0;
    border-top: solid;
    border-bottom: solid;
    border-color: rgb(189, 188, 188);
    border-width: 1px;
}

.product-section .qty-cart{
    justify-content: flex-start;
}

.qty-cart > *{
    margin: 15px;
    font-size: 22px;
}


.qty-cart .qty-btn{
    border-radius: 5px;
    width: 30px;
    margin: 0 10px;
}

@media screen and (max-width: 600px) {
    .product-section .image-container{
        height: 300px;
        width: 350px;
    }
}