.overview h2{
    width: 600px;
    height: 400px;
    background-size: cover;
    border-radius: 10px;
    border: none;
    margin: 15px;
    color: yellow;
}

.dashboard-overview{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}